In [1]:
%config Completer.use_jedi = False
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import glob

# Rumus Petrofisika

In [2]:
# Rumus Vshale
def vshale(gr,grmin,grmax):
    formula = (gr - grmin)/(grmax - grmin)
    formula = np.where(formula>1, 1, formula)
    formula = np.where(formula<0, 0, formula)
    return formula
# Rumus Neutron
def phin(nphi):
    formula = nphi
    return formula
    
# Rumus Porositas Denistias (PHID)
def phid(rhob, rhoma, rhofl):
    formula = (rhoma - rhob)/(rhoma - rhofl)
    formula = np.where(formula>1, 1, formula)
    formula = np.where(formula<0, 0, formula)
    return formula

# Rumus Porositas Total(PHIT)
def phit(phid, phin):
    phid2 = phid**2
    phin2 = phin**2
    formula = np.power((phid2+phin2)/2, 0.5)
    formula = np.where(formula>1, 1, formula)
    formula = np.where(formula<0, 0, formula)
    return formula

# Rumus Porositas efektif (PHIE)    
def phie(phit, vshale, phish):
    formula = phit - (vshale * phish)
    formula = np.where(formula>1, 1, formula)
    formula = np.where(formula<0, 0, formula)
    return formula


# Rumus Saturasi Air (SW) 
def sw(rt, phie, rw, a, m, n):
    top = a*rw
    bot = (phie**m) * rt
    sw_ = top / bot
    sw_ = np.power(sw_, 1/n)
    formula = sw_
    formula = np.where(formula>1, 1, formula)
    formula = np.where(formula<0, 0, formula)
    return formula

# Penggabungan data dan Perbaikan nama sumur sesuai data base

#### Memperbaiki Nama Sumur

In [3]:
def word_to_vector(word):

     vec = [0]*len('abcdefghijklmnopqrstuvwxyz-''.()#&1234567890')
     for num, x in enumerate('abcdefghijklmnopqrstuvwxyz-''.()#&1234567890'):
         val = word.lower()
         val = val.count(x)
         vec[num] = val 
     return np.array(vec)

#### Mengambil data sumur dan marker

In [4]:
marker = pd.read_excel('lumpsum.xls')
wells = glob.glob('ARD/*')

In [5]:
len(marker)

611

In [6]:
len(wells)

431

In [7]:
marker.head(100)

,Well,ZoneName,Long,Lat,Type,Units,Top,Bottom,Gross,Net,...,AvGMIN,AvNWCL,AvRWCL,AvRw,AvTemp,Phi*H,PhiSo*H,Dryclay,Salinity,who
0,7 C FARMS #1,Heebner,-98.21577,38.596616,MD,ft,2607.00,2722.32,115.32,115.32,...,32.997,0.334,2.566,0.063,98.129,7.36,0.09,3.351351,95282.77387,gurning
1,A Goering #1,Heebner,-97.540324,38.335513,MD,ft,2081.14,2326.00,244.86,244.86,...,32.995,0.342,2.560,0.069,68.658,23.36,0.12,3.370821,122766.78410,gurning
2,Alan No.C-1,Heebner,-98.376504,38.164348,MD,ft,2914.00,3086.52,172.52,172.52,...,41.983,0.334,2.581,0.134,102.931,5.27,0.06,3.373874,38425.04008,gurning
3,Amstutz #1-8,Heebner,-98.344236,38.407085,MD,ft,2748.00,2901.00,153.00,153.00,...,37.984,0.294,2.601,0.102,100.416,8.28,0.71,3.267705,53759.20999,gurning
4,Ankerholz A No.1,Heebner,-98.399422,38.412072,MD,ft,2794.00,2937.00,143.00,143.00,...,39.986,0.320,2.585,0.132,101.002,4.67,0.26,3.330882,39836.00114,gurning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Long Land #1,Heebner,-98.29024,38.417676,MD,ft,2744.25,2906.00,161.75,161.75,...,29.989,0.317,2.567,0.035,100.425,5.03,0.28,3.294290,181961.94920,gurning
96,Long No. 1-13,Heebner,-98.370883,38.400607,MD,ft,2785.00,2944.00,159.00,159.00,...,41.983,0.356,2.575,0.031,100.988,5.22,0.70,3.445652,207796.33770,gurning
97,Lovett No.7,Heebner,-97.497934,38.395089,MD,ft,2074.25,2307.50,233.25,233.25,...,32.995,0.343,2.539,0.180,91.349,21.23,0.01,3.342466,30927.55145,gurning
98,LUDWICK #1,Heebner,-98.398599,38.359788,MD,ft,2826.00,2980.00,154.00,154.00,...,35.985,0.301,2.590,0.102,101.539,5.09,0.12,3.274678,53164.64442,gurning
99,Lyle Swisher No. 1,Heebner,-97.463128,38.678936,MD,ft,1828.00,2042.00,214.00,214.00,...,26.999,0.334,2.587,0.057,87.688,5.52,0.23,3.382883,119515.02070,gurning

In [8]:
well_marker = marker.Well.unique()
wells_data = [well.replace('ARD\\','').replace('.csv', '') for well in wells]
# menghilangkan tulisan CSV

In [9]:
len(marker.Well.unique())

306

In [10]:
penggabungan = {}
for w1 in well_marker:
    container = []
    for w2 in wells_data:
        w1v   = word_to_vector(w1)
        w2v   = word_to_vector(w2)
        diff = sum(np.abs(w1v - w2v)) 
        container.append(diff)
    loc = np.argmin(container)
    loc = wells_data[loc]
    penggabungan[w1] = loc+'.csv'

In [11]:
marker['well_data'] = [penggabungan[well] for well in marker.Well.values]
# membuat column baru dengan well data yang sudah di pairs

In [12]:
marker.Well.nunique()

306

# Tahap Perhitungan

In [13]:
sumur = marker.well_data.unique()

In [14]:
for well in sumur:

    try:

        temp = marker[marker['well_data'] == well]
        well_data = pd.read_csv('ARD/'+well).replace(-999.25, np.nan)

        dept = well_data['DEPT'].values

        dummy_grmin = np.array([np.nan]*len(dept))
        dummy_grmax = np.array([np.nan]*len(dept))
        dummy_phish = np.array([np.nan]*len(dept))
        dummy_rw = np.array([np.nan]*len(dept))

        for zone in temp.values:
            top = zone[6]
            bot = zone[7]
            grmin  = zone[15]
            grmax = zone[14]
            phish  = zone[16]
            rw  = zone[18]

            dummy_grmin = np.where((dept>top)&(dept<bot),grmin, dummy_grmin)
            dummy_grmax = np.where((dept>top)&(dept<bot),grmax, dummy_grmax)
            dummy_phish = np.where((dept>top)&(dept<bot),phish, dummy_phish)
            dummy_rw = np.where((dept>top)&(dept<bot),rw, dummy_rw)

        well_data['GRMin'] = dummy_grmin
        well_data['GRMax'] = dummy_grmax
        well_data['PHISH'] = dummy_phish
        well_data['Rw'] = dummy_rw

        well_data['Vshale'] = vshale(well_data['GR'], well_data['GRMin'], well_data['GRMax'])
        well_data['PHID'] = phid(well_data['RHOB'], 2.65, 1.1)
        well_data['PHIN'] = phin(well_data['NPHI'])
        well_data['PHIT'] = phit(well_data['PHID'], well_data['PHIN'])
        well_data['PHIE'] = phie(well_data['PHIT'], well_data['Vshale'], well_data['PHISH'])
        well_data['Sw'] = sw(well_data['RT'], well_data['PHIE'], well_data['Rw'], 1,2,2)

        well_data.to_csv('calculated/'+well, index=False)
        print('we are successfully calculating for well: ', well)
    except Exception:
        print('!!!!!!!!!! failed to calculate on well:', well)
        print(well_data.columns)

we are successfully calculating for well:  7 C Farms 1.csv
we are successfully calculating for well:  A. Goering 1.csv
we are successfully calculating for well:  Alan C-1.csv
we are successfully calculating for well:  Amstutz 1-8.csv
we are successfully calculating for well:  Ankerholz 'A' 1.csv
we are successfully calculating for well:  Appleton 5.csv
we are successfully calculating for well:  B.B. Ainsworth 13.csv
we are successfully calculating for well:  Beagley 1.csv
we are successfully calculating for well:  Behnke 1-15.csv
we are successfully calculating for well:  Berry 6.csv
we are successfully calculating for well:  Berry 5.csv
we are successfully calculating for well:  Blackhall 5.csv
we are successfully calculating for well:  BNE 19-22.csv
we are successfully calculating for well:  BONNEWELL-CARTER UNIT 18-1.csv
we are successfully calculating for well:  Boye 1-16.csv
we are successfully calculating for well:  BOYE 1-9.csv
!!!!!!!!!! failed to calculate on well: Bredfeldt-Boldt 1-24.csv
Index(['DT', 'GR', 'NPHI', 'RHOB', 'RT', 'SP'], dtype='object')
we are successfully calculating for well:  Brian C-1.csv
we are successfully calculating for well:  Browning 'C' 1-13.csv
we are successfully calculating for well:  Buckley 4-18.csv
we are successfully calculating for well:  Buckley-Doll 1-18.csv
we are successfully calculating for well:  Burdette 1.csv
we are successfully calculating for well:  Caywood 2-33.csv
we are successfully calculating for well:  Cemetary C-2.csv
we are successfully calculating for well:  Comanche 1.csv
we are successfully calculating for well:  D & S 1-5.csv
we are successfully calculating for well:  Dale Beneke 1-13.csv
we are successfully calculating for well:  Dale Beneke 2-13.csv
we are successfully calculating for well:  Davis 1-27 TWIN.csv
we are successfully calculating for well:  DELMAR KAUFMAN 1.csv
we are successfully calculating for well:  Dewitt 9-33.csv
we are successfully calculating for well:  Diamond 1.csv
we are successfully calculating for well:  Diana 1.csv
we are successfully calculating for well:  Disque 2.csv
we are successfully calculating for well:  Dobrinski 2.csv
we are successfully calculating for well:  Dohrman 1.csv
we are successfully calculating for well:  Dorothy 1-3.csv
we are successfully calculating for well:  E. Goering 5.csv
we are successfully calculating for well:  Eatinger 3-21.csv
we are successfully calculating for well:  Enochs 1.csv
we are successfully calculating for well:  Entz-Wedel 1.csv
we are successfully calculating for well:  Evans 30-1T.csv
we are successfully calculating for well:  Evans 9-1.csv
we are successfully calculating for well:  Feist 8.csv
we are successfully calculating for well:  Fritz 1-31.csv
we are successfully calculating for well:  FROST 1.csv
we are successfully calculating for well:  Geist 1.csv
we are successfully calculating for well:  German 1.csv
we are successfully calculating for well:  GL Schmidt B1.csv
we are successfully calculating for well:  Goering 1-23.csv
!!!!!!!!!! failed to calculate on well: Gray 1-20.csv
Index(['DT', 'GR', 'NPHI', 'RHOB', 'RT', 'SP'], dtype='object')
we are successfully calculating for well:  Grub Unit 1-5.csv
we are successfully calculating for well:  Grub Unit 2-5.csv
we are successfully calculating for well:  HABIGER 18-1.csv
we are successfully calculating for well:  Habiger Unit 1-14.csv
we are successfully calculating for well:  Hager C-1.csv
we are successfully calculating for well:  Hanson EMAW.csv
we are successfully calculating for well:  Harbin 2.csv
we are successfully calculating for well:  Harvey 1.csv
we are successfully calculating for well:  Hawk 16.csv
we are successfully calculating for well:  Hedberg Unit 14-1.csv
we are successfully calculating for well:  Heine 3.csv
we are successfully calculating for well:  Heller 1.csv
we are successfully calculating for well:  Hoelscher Unit 1-11.csv
we are successfully calculating for well:  Hoelscher 3-10.csv
we are successfully calculating for well:  Hoelscher 2-27.csv
we are successfully calculating for well:  Hoelscher 4-10.csv
we are successfully calculating for well:  HUBBARD TRUST 1-16.csv
we are successfully calculating for well:  Hudson 4-1T.csv
we are successfully calculating for well:  Hudson 9-1T.csv
we are successfully calculating for well:  Hujing 3.csv
we are successfully calculating for well:  J A Krehbiel C-1.csv
we are successfully calculating for well:  James C-1.csv
we are successfully calculating for well:  Janssen Unit 1-18.csv
we are successfully calculating for well:  J Behnke 1.csv
we are successfully calculating for well:  Jean 1-2.csv
we are successfully calculating for well:  Jezek 1.csv
we are successfully calculating for well:  Johnson 7.csv
we are successfully calculating for well:  Kathy 1-24.csv
we are successfully calculating for well:  KK 1-22.csv
we are successfully calculating for well:  Kozisek 1.csv
we are successfully calculating for well:  Kratzler 10.csv
we are successfully calculating for well:  Lincoln 16.csv
we are successfully calculating for well:  Lincoln 18.csv
we are successfully calculating for well:  Lincoln 13.csv
we are successfully calculating for well:  Lincoln 14.csv
we are successfully calculating for well:  Lincoln 15.csv
we are successfully calculating for well:  Lincoln 5.csv
we are successfully calculating for well:  Lincoln 6.csv
we are successfully calculating for well:  Lincoln 7.csv
we are successfully calculating for well:  Lincoln 8.csv
we are successfully calculating for well:  Lincoln 10.csv
we are successfully calculating for well:  Lincoln 2.csv
we are successfully calculating for well:  Lincoln 9.csv
we are successfully calculating for well:  Loesch C-1.csv
we are successfully calculating for well:  Long Land 1.csv
we are successfully calculating for well:  Long 1-13.csv
we are successfully calculating for well:  Lovett 7.csv
we are successfully calculating for well:  Ludwick 1.csv
we are successfully calculating for well:  Swisher, Lyle 1.csv
we are successfully calculating for well:  Swisher, Lyle 2.csv
we are successfully calculating for well:  Manke Trust 1.csv
we are successfully calculating for well:  MATOSH A 8.csv
we are successfully calculating for well:  Max Redden 1.csv
we are successfully calculating for well:  Max Wells C-1.csv
we are successfully calculating for well:  MCMILLIAN 1-14.csv
we are successfully calculating for well:  Mehl 1.csv
we are successfully calculating for well:  Meyer Ankerholz 13.csv
we are successfully calculating for well:  Meyer Ankerholz 15.csv
we are successfully calculating for well:  MIKE 1.csv
we are successfully calculating for well:  Moffett 'D' 2.csv
we are successfully calculating for well:  Moos 'A' 2.csv
we are successfully calculating for well:  Nightingale 2.csv
we are successfully calculating for well:  North River 4.csv
!!!!!!!!!! failed to calculate on well: NORTH RIVER 6.csv
Index(['DEPT', 'GR', 'NPHI', 'RHOB', 'SP', 'GRMin', 'GRMax', 'PHISH', 'Rw',
       'Vshale', 'PHID', 'PHIN', 'PHIT', 'PHIE'],
      dtype='object')
we are successfully calculating for well:  ORTH-ALTENBAUMER 1-12.csv
we are successfully calculating for well:  Osage-Nemaha 1.csv
we are successfully calculating for well:  Peace Creek 'C' 1.csv
we are successfully calculating for well:  Petermann 28 1.csv
we are successfully calculating for well:  Pioneer-Adams 2-27.csv
we are successfully calculating for well:  Pioneer-Orth 1-30.csv
we are successfully calculating for well:  Pioneer-Carter 1-14.csv
we are successfully calculating for well:  Pioneer-Hathaway 1-27.csv
we are successfully calculating for well:  Preheim 'B' 1.csv
we are successfully calculating for well:  Proffitt 1-1.csv
we are successfully calculating for well:  Proffitt 5-8.csv
we are successfully calculating for well:  R. Redden 16-1.csv
we are successfully calculating for well:  Reese 4.csv
we are successfully calculating for well:  Remmert 1-4.csv
we are successfully calculating for well:  Ricker C-1.csv
we are successfully calculating for well:  Ringwald 1-33.csv
we are successfully calculating for well:  Rogers 2.csv
we are successfully calculating for well:  Rogers 3.csv
we are successfully calculating for well:  S. ROLFS 6.csv
we are successfully calculating for well:  S. Rolfs 5.csv
we are successfully calculating for well:  Sam Ainsworth 14.csv
we are successfully calculating for well:  Sara C-1.csv
we are successfully calculating for well:  Savage 'A' 2.csv
we are successfully calculating for well:  SAWYER #15-1.csv
we are successfully calculating for well:  Schepmann 'A' 5.csv
we are successfully calculating for well:  Schepmann Trust 1-27.csv
we are successfully calculating for well:  Schneider 1-13.csv
we are successfully calculating for well:  Schroeder B 3.csv
we are successfully calculating for well:  Scully 1-3.csv
we are successfully calculating for well:  Singleton 1-15.csv
we are successfully calculating for well:  Skiles 28 1.csv
we are successfully calculating for well:  Soeken 1.csv
we are successfully calculating for well:  Soukup 'C' 1-14.csv
we are successfully calculating for well:  Stoltenberg-Boor 1-17.csv
we are successfully calculating for well:  Stoltenberg-Svoboda 3-17.csv
we are successfully calculating for well:  Stoltenberg-Svoboda 2-17.csv
we are successfully calculating for well:  Thelma 1.csv
we are successfully calculating for well:  Toll 30-1T.csv
we are successfully calculating for well:  UKENS #2 2.csv
we are successfully calculating for well:  Unruh 7.csv
we are successfully calculating for well:  URBANEK 2.csv
we are successfully calculating for well:  URBANEK TRUST 1.csv
we are successfully calculating for well:  Vokland 2-32.csv
we are successfully calculating for well:  Volkland 3-32.csv
we are successfully calculating for well:  Volkland 4-32.csv
we are successfully calculating for well:  Volkland 'A' 7.csv
we are successfully calculating for well:  Volkland 11-5.csv
we are successfully calculating for well:  Volkland 12-5.csv
we are successfully calculating for well:  Volkland 5-32.csv
we are successfully calculating for well:  Voshell 'D' 1.csv
we are successfully calculating for well:  Warner 2.csv
we are successfully calculating for well:  WELLMAN 1.csv
we are successfully calculating for well:  Wesseler 3.csv
we are successfully calculating for well:  Whisler 1.csv
we are successfully calculating for well:  White 6-8.csv
we are successfully calculating for well:  White 5-8.csv
we are successfully calculating for well:  White 7-8.csv
we are successfully calculating for well:  Whitley 17-4.csv
we are successfully calculating for well:  Wilson 1-22.csv
we are successfully calculating for well:  Wire 4.csv
we are successfully calculating for well:  Zwick 1.csv
we are successfully calculating for well:  Aldrich 4.csv
we are successfully calculating for well:  Allyson 1.csv
we are successfully calculating for well:  B & B 1.csv
we are successfully calculating for well:  BARNHILL A 32.csv
we are successfully calculating for well:  Bell 'B' 3.csv
we are successfully calculating for well:  BILLITER V 1-16.csv
we are successfully calculating for well:  Blankenship 1.csv
we are successfully calculating for well:  BOGNER 1.csv
we are successfully calculating for well:  Bohrer 2.csv
we are successfully calculating for well:  Bohrer 3.csv
we are successfully calculating for well:  Bohrer 4.csv
we are successfully calculating for well:  Brooks 1-13.csv
we are successfully calculating for well:  Brown 2.csv
we are successfully calculating for well:  Carrick 'A' 1.csv
!!!!!!!!!! failed to calculate on well: Carrick 'AB' 2-29.csv
Index(['DEPT', 'GR', 'RHOB', 'GRMin', 'GRMax', 'PHISH', 'Rw', 'Vshale',
       'PHID'],
      dtype='object')
we are successfully calculating for well:  Century Farm 1.csv
we are successfully calculating for well:  Connie 1-25.csv
we are successfully calculating for well:  Conrardy Seeds 1.csv
we are successfully calculating for well:  Crane 'B' 3.csv
we are successfully calculating for well:  Cross 4.csv
!!!!!!!!!! failed to calculate on well: Stucky 'A' 1.csv
Index(['DEPT', 'DT', 'GR', 'NPHI', 'RT', 'GRMin', 'GRMax', 'PHISH', 'Rw',
       'Vshale'],
      dtype='object')
we are successfully calculating for well:  Cypress 1.csv
we are successfully calculating for well:  Cypress 2.csv
we are successfully calculating for well:  Cypress 4.csv
we are successfully calculating for well:  Delbert 1.csv
we are successfully calculating for well:  Cross 3.csv
we are successfully calculating for well:  Donald 3.csv
we are successfully calculating for well:  Eder 1.csv
we are successfully calculating for well:  Westerman 1.csv
we are successfully calculating for well:  Fairchild 1-14.csv
we are successfully calculating for well:  Garrison 4.csv
we are successfully calculating for well:  Giefer Unit 1.csv
we are successfully calculating for well:  Godfrey 1.csv
we are successfully calculating for well:  Goetz 1.csv
we are successfully calculating for well:  Goetz 2.csv
we are successfully calculating for well:  GOETZ A 1.csv
we are successfully calculating for well:  Goetz 'P' 1.csv
we are successfully calculating for well:  Goetz 'R' 1.csv
we are successfully calculating for well:  Govert 1.csv
we are successfully calculating for well:  Hauser 6.csv
!!!!!!!!!! failed to calculate on well: Haase 1.csv
Index(['DEPT', 'GR', 'NPHI', 'RT', 'SP', 'GRMin', 'GRMax', 'PHISH', 'Rw',
       'Vshale'],
      dtype='object')
we are successfully calculating for well:  Helten 2-35.csv
we are successfully calculating for well:  HIGGINS B 1.csv
we are successfully calculating for well:  Hufford 3.csv
we are successfully calculating for well:  JACK 2.csv
we are successfully calculating for well:  Jim 1-19.csv
we are successfully calculating for well:  Jimeson 1-18.csv
we are successfully calculating for well:  JOHNSON FARMS 1-18.csv
we are successfully calculating for well:  Jones 6-12.csv
we are successfully calculating for well:  Jones Trust 1-23.csv
we are successfully calculating for well:  JPG 1.csv
we are successfully calculating for well:  Kaufman 1.csv
we are successfully calculating for well:  Kennedy 1-3.csv
we are successfully calculating for well:  Kohman 10.csv
we are successfully calculating for well:  Kohman 11.csv
we are successfully calculating for well:  Kohman 8.csv
we are successfully calculating for well:  Kohman 9.csv
we are successfully calculating for well:  Kostner 'B' 2.csv
we are successfully calculating for well:  L&D Donley 20-1.csv
we are successfully calculating for well:  Lilja 1.csv
we are successfully calculating for well:  LISTER A 39.csv
we are successfully calculating for well:  Lukens 'AB' 3.csv
!!!!!!!!!! failed to calculate on well: Maple 'F' 2.csv
Index(['DEPT', 'GR', 'RHOB', 'RT', 'SP', 'GRMin', 'GRMax', 'PHISH', 'Rw',
       'Vshale', 'PHID'],
      dtype='object')
we are successfully calculating for well:  Marker 1.csv
we are successfully calculating for well:  McLeod 1.csv
we are successfully calculating for well:  Miller 1.csv
we are successfully calculating for well:  Miller Trust 1.csv
we are successfully calculating for well:  Molitor 'G' 1.csv
we are successfully calculating for well:  HJP 1.csv
we are successfully calculating for well:  Ensor 1.csv
we are successfully calculating for well:  NINCEHELSER 13.csv
we are successfully calculating for well:  Oeding L-1.csv
we are successfully calculating for well:  Price 'D' 2.csv
we are successfully calculating for well:  Ravenstein 1.csv
we are successfully calculating for well:  Ravenstein 2.csv
we are successfully calculating for well:  RED JAW 7-2.csv
we are successfully calculating for well:  Rock Creek Ranch 1.csv
we are successfully calculating for well:  Rolf Land 3.csv
we are successfully calculating for well:  Rosenhagen 1.csv
!!!!!!!!!! failed to calculate on well: YOUNG 'A' 2.csv
Index(['DEPT', 'GR', 'RHOB', 'RT', 'SP', 'GRMin', 'GRMax', 'PHISH', 'Rw',
       'Vshale', 'PHID'],
      dtype='object')
!!!!!!!!!! failed to calculate on well: Rees Ranch 4-19.csv
Index(['DEPT', 'DT', 'GR', 'RHOB', 'GRMin', 'GRMax', 'PHISH', 'Rw', 'Vshale',
       'PHID'],
      dtype='object')
we are successfully calculating for well:  Scheer 2.csv
we are successfully calculating for well:  Schlickau 1.csv
we are successfully calculating for well:  Schrag 1.csv
we are successfully calculating for well:  Schulz V1-16.csv
we are successfully calculating for well:  Setzkorn 26-1.csv
we are successfully calculating for well:  Simons 1.csv
we are successfully calculating for well:  Simons 2.csv
we are successfully calculating for well:  Springer Hollow Farm 2.csv
we are successfully calculating for well:  Standiford 1-25.csv
we are successfully calculating for well:  Gayle 1-2.csv
we are successfully calculating for well:  Thissen 2-27.csv
we are successfully calculating for well:  THISSEN 'D' 1.csv
we are successfully calculating for well:  Tjaden 'C' 3.csv
we are successfully calculating for well:  Krug 1.csv
we are successfully calculating for well:  JACK 1.csv
we are successfully calculating for well:  Viney 5.csv
we are successfully calculating for well:  Viney 'D' 4.csv
we are successfully calculating for well:  Voran 'H' 4.csv
we are successfully calculating for well:  Watt 1-3.csv
we are successfully calculating for well:  WILSON A 452.csv
we are successfully calculating for well:  WILSON A 454.csv
we are successfully calculating for well:  WILSON A 455.csv
we are successfully calculating for well:  Wonderful Word 1.csv
we are successfully calculating for well:  Young Cox Unit 1-27.csv
!!!!!!!!!! failed to calculate on well: Kaw 2.csv
Index(['DEPT', 'GR', 'RHOB', 'RT', 'SP', 'GRMin', 'GRMax', 'PHISH', 'Rw',
       'Vshale', 'PHID'],
      dtype='object')
we are successfully calculating for well:  KNOBBE 1-4.csv
we are successfully calculating for well:  Brack 1.csv

In [15]:
wellww = glob.glob('calculated/*')

In [16]:
len(wellww)

277

In [17]:
test=pd.DataFrame(wellww)

In [18]:
dataset

NameError: name 'dataset' is not defined